@use '../../styles/breakpoints';

.prompter {
    width: 15rem;
    position: relative;

    .prompterLabels {
        position: absolute;
        z-index: 2;
        color: white;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        font-size: 12px;
        left: 5.5rem;
        width: 9rem;
    }
}

@include breakpoints.medium {
    .prompter {
        width: 20rem;

        .prompterLabels {
            font-size: unset;
            left: 7.5rem;
            width: 11.5rem;
        }
    }
}
